/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel.index-page {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item.index-page {
  height: 500px;
  background-color: #72C8FF;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
/*
.carousel-inner > .item.news {
  top: 0;
  left: 0;
  height: 450px;
  width: 100%;
  border: 0px;
  border-style: solid;
  border-color: #0000ff;

}
*/
.carousel-inner > .item.news > iframe,
.carousel-inner > .item.news > img{
  position: relative;
  center: auto;
  min-width: 100%;
  width: auto;
}
.carousel-inner > .item.news > img {
  height: auto;
}
.carousel-inner > .item.news > iframe {
  height: 300px;
}
.carousel-control.left.news, .carousel-control.right.news {
  background-image: none
}

.carousel-control.news {
  position: absolute;
  top: 25.5px;
  bottom: 0;
  left: 0;
  background: #000000;
  font-size: 5px;
  background: none !important;
  color: #000 !important;
  text-align: center;
}

.carousel-control.news i {
  font-size: 20px;
}

.carousel-control.left.news {
  left: 0;
}

.carousel-control.right.news {
  right: 0;
}

.carousel-control.news:hover,
.carousel-control.news:focus {
  color: #000;
}

.carousel-control.news .glyphicon-chevron-left,
.carousel-control.news .glyphicon-chevron-right {
  position: absolute;
  z-index: 5;
  display: inline-block;
}

.carousel-control.news .glyphicon-chevron-left {
  left: 0;
}

.carousel-control.news .glyphicon-chevron-right {
  right: 0;
}
.carousel-indicators.news {
  position: relative;
  bottom: 0;
  right: 0px;
  z-index: 15;
  width: 60%;
  top: -5px;
  text-align: center;
  list-style: none;
}


.carousel-indicators.news li {
  display: inline-block;
  zoom: 1;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid transparent;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 0 2px;
  -moz-box-shadow: rgba(0,0,0,0.5) 0 0 2px;
  box-shadow: rgba(0,0,0,0.5) 0 0 2px;
  cursor: pointer;
}

.carousel-indicators.news .active {
  width: 10px;
  height: 10px;
  margin: 0;
  background-color: #000000;
}
/* Video Mask for Youtube in Carousel
-------------------------------------------------- */
.video_mask{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:300px;
  z-index:25;
  opacity:0;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* GITHUB INFO
------------------------------*/
.bs-docs-social {
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: -61px;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

.bs-docs-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* Footer
-------------------------------------------------- */
#footer_wrapper {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  overflow: hidden;
  z-index: 100;
}

#footer {
    position:relative;
    background: #c4d8e2;
    opacity: 1.0;
}

#footer > p:first-child {
    float: left;
    text-align: right;
    width: 40.0%; }

#footer > p:nth-child(2) {
    float: left;
    text-align: center;
    width: 30.0%; }

#footer > p:last-child {
    float: right;
    text-align: left;
    width: 30.0%; }


#fork > img {
    opacity: 0.8;
}

#fork > img:hover {
    opacity: 1.0;
}

.github > img {
    opacity: 0.8;
}
.github > img:hover {
    opacity: 1.0;
}

/* Fork Me Ribbon
-------------------------------------------------------------------------*/
/* Left will inherit from right (so we don't need to duplicate code */
.github-fork-ribbon {
  /* The right and left lasses determine the side we attach our banner to */
  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;

  /* Set the base colour */
/*  background-color: #a00; */
  background-color: #c4d8e2;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');

  /* Add a drop shadow */
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);

  z-index: 9999;
}

.github-fork-ribbon a {
  opacity: 0.6;
}
.github-fork-ribbon > a:hover {
  opacity: 1.0;
}
.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  /* Set the font */
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
/*  color: white;*/
  color: #333333;

  /* Set the text properties */
  text-decoration: none;
  /*text-shadow: 0 -1px rgba(0,0,0,0.5);*/
  text-align: center;

  /* Set the geometry. If you fiddle with these you'll also need to tweak the top and right values in #github-fork-ribbon. */
  width: 200px;
  line-height: 20px;

  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;
  /* Add "stitching" effect */
  /*border-width: 1px 0;
  border-style: dotted;*/
  /*border-color: rgba(255,255,255,0.7);*/
  /*border-color: #333333;*/
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
}

.github-fork-ribbon-wrapper.fixed {
  position: fixed;
}

.github-fork-ribbon-wrapper.left {
  position: fixed;
  left: 0;
}

.github-fork-ribbon-wrapper.right {
  position: fixed;
  right: 0;
}

.github-fork-ribbon-wrapper.left-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  left: 0;
}

.github-fork-ribbon-wrapper.right-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;

  /* Rotate the banner 45 degrees */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
  top: 42px;
  left: -43px;

  /* Rotate the banner -45 degrees */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
  top: 80px;
  left: -43px;

  /* Rotate the banner -45 degrees */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
  top: 80px;
  right: -43px;

  /* Rotate the banner -45 degrees */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Latex css
-------------------------------------------------- */
.tex > sub, .latex > sub, .latex > sup {
  text-transform: uppercase;
}

.tex > sub, .latex > sub {
  vertical-align: -0.2ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex > sub, .latex > sub {
  font-size: 1em;
}

.latex > sup {
  font-size: 0.7em;
  vertical-align: -0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

/* h4
-------------------------------------------------- */
h4 {
    color: #000000;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 700px) {

    .carousel-inner > .item > img {
    position: absolute;
    left:-100px;
    min-width: 800px;
    height: 500px;
    }
}
@media (max-width: 767px) {

}

@media (min-width: 768px) {

  a#git { display:none; }
  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (max-width: 500px) {
    #footer_wrapper {
        height: 30px;
    }
    #footer {
        font-size:8px;
    }
    #footer > p > a > img{
        width: 15px;
        height: 15px;
    }
}
@media (max-width: 767px) {

  /* remove the ribbon in img format*/
  /* a#fork { display:none; } */
  /* remove the ribbon*/
  .github-fork-ribbon-wrapper  {
      display:none;
  }
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* display media objects properly in list */

.custom-media-object {
    display: inline;
}

.custom-media-body {
    padding-left: 15px;
}
