/*
Original design: Basic Businesscard (v1.0 - Jan 20, 2011) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/basic-businesscard/
Modifications by Lev Givon (March 14, 2011)
*/

/* Main layout and header */
body {background:#eee url(img/bg.jpg) top center no-repeat; color:#555; font:83% Ubuntu,Helvetica,Arial,sans-serif; text-align:center; line-height:1.8em;}
#wrap {width:750px; margin:40px auto 20px auto; background:#fff url(img/fly.png) 10px 10px no-repeat; -moz-box-shadow: 3px 3px 15px #aaa; -webkit-box-shadow: 3px 3px 15px #aaa; box-shadow: 3px 3px 15px #aaa; padding: 0 0 15px 0;}
#content {margin:0 20px 20px 190px; width:520px; text-align:left;}
#triples {width:590px; margin:0 auto 20px auto; text-align:left;}
#triples h2 {font-size:1.4em; color:#888; margin:0 0 10px 0;}
#triples p {font-size:1em; color:#888; margin:0 0 10px 0;}
#footer {width:590px; color:#aaa; font-size:0.8em; margin:20px auto; text-align:center;}
#footer a {color:#aaa;}

h1 {font-size:3em; padding:25px 0 0 0; font-weight:400; text-shadow:2px 2px 4px #bbb;}
h2 {font-size:1.6em; margin:-15px 0 25px 0; font-weight:400; text-shadow:2px 2px 4px #bbb;}
h2.slogan {; color:#777; text-shadow:2px 2px 4px #ccc;}
a {color:#b75858; text-decoration:none;}
a:hover {color:#872828;}
p {padding:0 0 15px;}
img {max-width:560px;}
img.alignleft {display:inline; float:left; margin:5px 15px 5px 0;}
img.alignright {float:right; margin:5px 0 5px 15px;}
img.aligncenter {display:block; margin:10px auto;}
img.border {background:#f4f4f4; border:1px solid #ddd; padding:5px;}
dl {width:360px; margin:0 auto; font-size:1.4em;}
dt {float:left; clear:left; width:60px; text-align:right; color:#444; }
dd {margin:0 0 0 80px; padding:0 0 5px 0; text-align:left;}
ul {list-style-type: square; list-style-position: inside; padding: 0 0 0 0;}

.t1,.t2,.t3 {width:30%; margin:0 5% 0 0; float:left;}
.t3 {margin:0;}
